* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
    opacity: 0.75;
}

h1 {
    font-size: 35px;
}

h3 {
    font-size: 21px;
}

hero {
    color: white;
    background-image: url("./assets/background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 5% 2%;
    line-height: 2.5;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}
hero h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
hero p {
    max-width: 500px;
}
button {
    max-width: 500px;
    padding: 16px 32px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    background-color: #296aff;


    transition: 0.3s ease;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    background-color: white;
    color: black;
}

.dateIcon {
    padding: 5px;
    width: 13%;
    height: 13%;
}

.date {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
}

.about {
    width: 100%;
    padding: 5% 10%;
    line-height: 3.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;



    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.4s ease-out;


}

.about.visible {
    opacity: 1;
    transform: translateX(0);
}


.categories {
    padding: 2% 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.category {
    border: 1px solid #296aff;
    border-radius: 25px;
    width: 40%;
    padding: 2%;
    line-height: 3;
    transition: 0.3s ease;
    text-align: start;
}

.category:hover {
    transform: scale(1.01);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.icon {
    background-color: #296aff;
    color: white;
    border-radius: 50%;
    padding: 5px;
}

.conds {
    padding: 2% 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cond {
    border-radius: 25px;
    width: 30%;
    padding: 2%;
    line-height: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.congrats {
    width: 100%;
    background-color: #e4e4e4;
    display: flex;
    flex-direction: column;
    align-items: center;


    padding: 30px 0;
}

.prizes {
    width: 100%;
    padding: 5% 10%;
    line-height: 3.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;



    opacity: 0;
    transform: translateY(-100px);
    transition: all 0.4s ease-out;


}

.prizes.visible {
    opacity: 1;
    transform: translateY(0);
}


.prize {
    border: 1px solid #296aff;
    border-radius: 25px;
    width: 20%;
    height: 300px;
    padding: 2%;
    line-height: 3;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.prize:hover {
    transform: scale(1.01);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.iconPlace1 {
    background-color: #e19b00;
    color: white;
    border-radius: 50%;
    padding: 5px;
}

.iconPlace2 {
    background-color: #878787;
    color: white;
    border-radius: 50%;
    padding: 5px;
}

.iconPlace3 {
    background-color: #ac5000;
    color: white;
    border-radius: 50%;
    padding: 5px;
}


.form {
    border: 1px solid #296aff;
    border-radius: 15px;
    background-color: #a2bcff;
    padding: 3% 2%;
    margin: 5% 25%;
    line-height: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inputForm {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.inputText {
    border: 1px solid #296aff;
    outline: none;
    border-radius: 15px;
    width: 30%;
    padding: 2%;
}

footer {
    padding: 2% 0;
    background-color: #2e2e2e;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footCollumn {
    line-height: 2;
    width: 20%;
}

.socialIcon {
    margin: 5px;
    padding: 7px;
    border-radius: 30%;
    background-color: #818181;
}

@media screen and (max-width: 800px) {

    .categories {
        flex-direction: column;
    }


    .category {
        width: 100%;
        margin: 7px;
        padding: 10%;
    }

    .conds {
        flex-direction: column;
    }

    .cond {
        width: 100%;
        margin: 7px;
        align-items: start;
        text-align: start;
    }

    .prizes {
        flex-direction: column;
    }
    .prize {
        width: 100%;
        margin: 7px;
    }

    .form {
        margin: 5% 5%;
    }
    .inputForm {
        flex-direction: column;
    }
    .inputText {
        width: 80%;
        margin: 7%;
        padding: 5%;
    }

    footer {
        flex-direction: column;
    }
    .footCollumn {
        margin: 4% 0;
        width: 100%;
    }
}