* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*.header {*/
/*    background-color: white;*/
/*    border: 1px solid #d6d3d3;*/
/*    padding: 1% 5%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    position: sticky;*/
/*    top: 0;*/
/*}*/

.mainContent {
    color: white;
    background-image: url("./assets/background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding: 5% 25%;
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mainContent h1 {
    font-size: 300%;
}
.mainContent p {
    font-size: 130%;
}
.mainContent button {
    margin-top: 5%;
    width: 50%;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    background-color: #296aff;
    padding: 2%;
}