* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
    opacity: 0.75;
}

h1 {
    font-size: 35px;
}

h3 {
    font-size: 21px;
}

.mainContent {
    color: white;
    background-image: url("./assets/background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 5% 2%;
    line-height: 2.5;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}
.mainContent h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mainContent p {
    max-width: 500px;
}
.mainContent button {
    max-width: 500px;
    padding: 16px 32px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    background-color: #296aff;


    transition: 0.3s ease;
    cursor: pointer;
}

.mainContent button:hover {
    transform: scale(1.05);
    background-color: white;
    color: black;
}

.dateIcon {
    padding: 5px;
    width: 13%;
    height: 13%;
}

.date {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
}

.about {
    width: 100%;
    padding: 5% 10%;
    line-height: 3.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.4s ease-out;


}

.about.visible {
    opacity: 1;
    transform: translateX(0);
}


.categories {
    padding: 2% 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.4s ease-out;
}

.categories.visible {
    opacity: 1;
    transform: translateY(0);
}

.category {
    border: 1px solid #296aff;
    border-radius: 25px;
    width: 40%;
    padding: 2%;
    line-height: 3;
    transition: 0.3s ease;
}

.category:hover {
    transform: scale(1.01);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.icon {
    background-color: #296aff;
    color: white;
    border-radius: 50%;
    padding: 5px;
}

@media screen and (max-width: 800px) {

    .categories {
        flex-direction: column;
    }
    .category {
        width: 100%;
        margin: 7px;
        padding: 10%;
    }
}