* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    width: 13vh;
    height: 13vh;
}

.mainContent {
    color: white;
    background-image: url("./assets/background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 5% 25%;
    line-height: 2.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mainContent h1 {
    font-size: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mainContent p {
    font-size: 23px;
}
.mainContent button {
    margin-top: 5%;
    padding: 16px 32px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    background-color: #296aff;
}

.about {
    width: 100%;
    padding: 5% 15%;
    line-height: 3.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.8s ease-out;


}

.about.visible {
    opacity: 1;
    transform: translateX(0);
}